/*Reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Global*/

body {
	font-family: "M PLUS Rounded 1c", sans-serif;
	background: linear-gradient(to right, #667eea, #764ba2);
}

/*Fonts*/

@font-face {
  font-family: 'weathericons';
  src: url('../font/weathericons-regular-webfont.woff') format('woff'),
     url('../font/weathericons-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.m-plus-rounded-1c-light {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.m-plus-rounded-1c-regular {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.m-plus-rounded-1c-medium {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.m-plus-rounded-1c-bold {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/*Main*/

/*Search Bar*/
.search-container {
	background-color: white;
	border: 1px solid #c9c9c9;
	border-radius: 50px;
	box-shadow: inset 1px 1px 7px 3px rgba(172, 171, 171, 0.4);
	padding: 10px;
	max-width: 500px;
	width: 100%;
	transition: all 0.3s ease;
	
}

.search-container:hover {

}

.form-control.search-input {
	border: none;
	background: transparent;
	padding-left: 20px;
	font-size: 1rem;
	height: 30px;
}

.form-control.search-input:focus {
	box-shadow: none;
	outline: none;
}

.search-icon {
	color: #6c757d;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.dropdown{
	width: 80%;
	margin: 0 auto;
}
.dropdown-content{
	position: absolute;
	top: 0rem;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	width: 100%;
	max-height: 9rem;
	text-align: left;
	overflow-y: auto;
	padding: 0.5rem 1rem;
	color: #6c757d;
}
.dropdown-content *{
	padding: 0.5rem 0;
	border-bottom: 1px solid #eee;
}
.dropdown-content *:last-child{
	border-bottom: none;
}

.dropdown-content div:hover{
	text-decoration: underline;
	cursor: pointer;
	color: #667eea;
}


.card {
	margin-top: 3rem;
}

.city-name {
	max-width: 100%;
	display: flex;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

#currentWeatherIcon {
	font-size: 6rem;
	line-height: 2;
}


/*After the accordion button has been clicked, it flips the icon*/

#accordionButton:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.3s ease;
	fill: #2d54ff;

}

#accordionButton.active{
	transform: rotate(180deg);
	transition: all 0.3s ease;
	/*The fill colour stays blue on active*/
	
	fill: #2d54ff;
}