/*Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Global*/

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
}

/*Fonts*/
.m-plus-rounded-1c-light {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*Main*/

.card{
    margin-top: 3rem;
}


.city-name{
  max-width: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}